@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

* {
    box-sizing: border-box; padding: 0; margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html,body {width: 100%; height: 100%;}
main{background-color: #efefef;}

.sticky-container{
    position: relative; border: 1px solid red;
    width: 100%;
    height: 200vh; /*scroll 할만큼 */
}
.sticky {
    border: 2px dotted blue;
    position: sticky; top: 0;
    width: 100%; height: 100vh;
}
.page{
    position: relative;
    width: 100%; height: 100%;
}
.page1 p{
    font-size: 92px; font-weight: 700;
}
.page1 p span.tbox {opacity:0;}
.page1 p span.tbox.on {opacity:1;}